@import "bulma/sass/utilities/_all.sass";

$text-primary: #d0d1cd;
$background-primary: #202124;
$secondary: red;
$body-top-padding: 54px;
$family-sans-serif: "Merienda", sans-serif;
$body-background-color: $background-primary;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$column-gap: 1.5rem;